# YAML linting configuration
# Rule reference: https://yamllint.readthedocs.io/en/stable/rules.html

extends: template/.yamllint
rules:
  braces:
    ignore:
      # Ignore mkdocs.yml file which has template braces
      - template/mkdocs.yml
